configuration {
    modes: "drun,run,window";
    font: "JetBrainsMono Nerd Font 11";
    show-icons: true;
    icon-theme: "Papirus";
    drun-display-format: "{name}";
    window-format: "{w}  {c}  {t}";
    display-drun: "apps";
    display-run: "run";
    display-window: "windows";
    /* Unbind conflicting defaults first */
    kb-remove-to-eol: "";
    kb-element-next: "";
    kb-element-prev: "";

    /* Vim-friendly navigation */
    kb-row-up: "Up,Control+k";
    kb-row-down: "Down,Control+j";
    kb-accept-entry: "Return,KP_Enter";
    kb-mode-next: "Tab";
    kb-mode-previous: "ISO_Left_Tab";
}
@theme "~/.config/rofi/theme.rasi"
